[build]
  command = "npm run build"
  publish = "dist"

[dev]
  functions = "netlify/functions"
  targetPort = 5173

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200